a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1000px;
}

.fluid {
    width: 100%;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}